<!DOCTYPE html>
{% extends 'forkilla/base.html' %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>reservationlist</title>
</head>
{% block content %}
    <body>
    <h2>Reservations:</h2>
    {% for reservation in reservations %}
        <ul>
            <li>{{ "Restaurante" }}:{{ reservation.restaurant.name }}</li>
            <form method="POST">{% csrf_token %}<input type="hidden" name="ayuda" value={{ reservation.id }}>
                <li>{{ "Fecha:" }}{{ reservation.day }}
                    <button class="btn btn-primary" type="submit">Borrar</button>
            </form>
            </li>
            <li>{{ "Numero de personas" }}:{{ reservation.num_people }}</li>
            {% if  reservation.day.year > actualDate.year %}
            {% elif  reservation.day.month > actualDate.month and  reservation.day.year >= actualDate.year %}
            {% elif reservation.day.day > actualDate.day and reservation.day.month >= actualDate.month and  reservation.day.year >= actualDate.year %}
            {% else %}
                <a href="{% url 'review' reservation.restaurant.restaurant_number %}">
                    <button class="btn btn-primary">Review</button>
                </a>
            {% endif %}
            <br>
        </ul>
    {% endfor %}
    <a href="{% url 'index' %}">
        <button class="btn btn-primary">Vuelve</button>
    </a>

    </body>
{% endblock %}
</html>